/* Font Imports */

@font-face {
  font-family: "VisbyEB";
  src: url(../fonts/Demo_Fonts/Fontspring-DEMO-visbycf-extrabold.otf);
}

@font-face {
  font-family: "Visby";
  src: url(../fonts/Demo_Fonts/Fontspring-DEMO-visbycf-regular.otf);
}

@font-face {
  font-family: "VisbyMed";
  src: url(../fonts/Demo_Fonts/Fontspring-DEMO-visbycf-medium.otf);
}

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
}

/* Typography */

h1 {
  font-family: "VisbyEB";
  font-size: 2rem;
  text-align: center;
}

label {
  font-family: "VisbyMed";
  color: white;
}

input {
  font-family: "Arial";
}

#submit {
  font-family: "VisbyMed";
}

.result {
  font-family: "Visby";
}

select {
  font-family: "Visby";
}

span {
  font-family: "Arial";
}

#rs {
  text-align: center;
}

h2 {
  color: white;
}

/* 3D Calculator im Header */

spline-viewer {
  width: 100px;
  height: 100px;
}
/* Header Styles */

header {
  background-color: black;
  height: 3rem;
  font-family: "VisbyEB";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

header h2 {
  display: flex;
}

/* Footer Styles */

footer {
  background-color: black;
  height: 2rem;
  color: white;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Styles*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Form Styles */

.calorie-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

input,
select {
  border: none;
  border-radius: 0.5rem;
  padding-left: 0.3rem;
}

::placeholder {
  padding-left: 0.3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 1rem;
}

fieldset {
  border-style: none;
}

#submit {
  text-decoration: none;
  border: 1px gray solid;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: black;
  margin-top: 1rem;
  background-color: white;
}

/* Output */

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result,
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rs {
  text-decoration: none;
  border: 1px gray solid;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: black;
  margin-top: 1rem;
}

/* Animation */

/* Soft Hover Effects für Buttons */
#submit:hover,
#rs:hover,
h2:hover,
h1:hover {
  transform: scale(1.02);
  transition: transform 0.1s ease-in-out;
}

form {
  transition: transform 0.3s ease-in-out;
}

#submit,
#rs,
h2,
h1 {
  transition: transform 0.3s ease-in-out;
}

/* Soft Hover Effects für Header and Footer */
footer p:hover {
  color: pink;
  transition: color 0.3s ease-in-out;
}

footer p {
  transition: color 0.3s ease-in-out;
}

/* Background Animation */

.area {
  background: #ffffff;
  background: -webkit-linear-gradient(to left, #ffffff, #ffffff);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(170, 170, 170, 0.247);
  animation: animate 30s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
