/* Font Imports */

@font-face {
  font-family: "Metal";
  src: url(/assets/fonts/metal-thorn-font-1703642728-0/metalthornregular-0w43g.ttf);
}

@font-face {
  font-family: "VisbyEB";
  src: url(/assets/fonts/Demo_Fonts/Fontspring-DEMO-visbycf-extrabold.otf);
}

@font-face {
  font-family: "Visby";
  src: url(/assets/fonts/Demo_Fonts/Fontspring-DEMO-visbycf-regular.otf);
}

@font-face {
  font-family: "VisbyMed";
  src: url(/assets/fonts/Demo_Fonts/Fontspring-DEMO-visbycf-medium.otf);
}

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: calc(100lvh - 5rem);
}

/* Typography */

h1 {
  font-family: "VisbyEB";
  font-size: 2rem;
  text-align: center;
}

label {
  font-family: "VisbyMed";
}

input {
  font-family: "Visby";
}

#submit {
  font-family: "VisbyMed";
}

.result {
  font-family: "Visby";
}

select {
  font-family: "Visby";
}

span {
  font-family: "VisbyEB";
}

#rs {
  text-align: center;
}

h2 {
  color: white;
}

/* Header Styles */

header {
  background-color: black;
  height: 3rem;
  padding-left: 1rem;
  padding-top: 0.2rem;
  font-family: "VisbyEB";
}

/* Footer Styles */

footer {
  background-color: black;
  height: 2rem;
  color: white;
  font-size: 0.7rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Styles*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form Styles */

.calorie-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100lvh - 5rem);
  gap: 1rem;
}

input,
select {
  border: none;
  border-radius: 0.5rem;
  padding-left: 0.3rem;
}

::placeholder {
  padding-left: 0.3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  width: 15rem;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
}

fieldset {
  border-style: none;
}

#submit {
  text-decoration: none;
  border: 1px gray solid;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: black;
  margin-top: 1rem;
  background-color: white;
}

/* Output */

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result,
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rs {
  text-decoration: none;
  border: 1px gray solid;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  color: black;
  margin-top: 1rem;
}
